body {
  background: #eeeeee;
}

#tableView {
  line-height: 2;
  font-size: 18px;

  .table-row {
  }

  .table-abbr-nation {
    font-weight: bold;
  }

  .table-input {
    display: none;
  }

  .table-amount {
    font-size: 20px;
  }

  .table-money-unit {
    font-weight: lighter;
  }

  .top {
    background: #ffcdd2;
  }

  .editing {
    .table-input {
      display: block;
    }

    .table-amount {
      display: none;
    }
  }
}