body {
  background: #eeeeee;
}

#tableView {
  .table-row {
  }

  input {
    display: none;
  }

  .top {
    background: #ffcdd2;
  }

  .editing {
    input {
      display: block;
      height: 1.5em;
      margin-bottom: 0;
    }

    .table-amount {
      display: none;
    }
  }
}