<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currency Converter</title>
</head>
<body>

<div id="app">
    <div id="debug">
        {{ dataAmount }}
        <br>
        {{ preferences.topRow }}
    </div>

    <div id="wrapper">
        <table id="tableView">
            <tr class="table-row" :class="{top: data.cache.abbrNation == preferences.topRow.abbr, editing: isEditing && data.cache.abbrNation === editing}"
                v-for="data in dataRows" :key="data.cache.abbrNation">
                <td class="table-cell1" @click="changeTopRow(data.cache.abbrNation)">
                    <div class="table-cell1-wrapper">
                        <img class="table-img" v-bind:src="data.cache.imgNation" alt="">
                        <span class="table-abbr-nation">{{ data.cache.abbrNation }}</span>
                        <span class="table-name-nation">{{ data.cache.nameNation }}</span>
                    </div>
                </td>
                <td class="table-cell2" @click="editRow(data.cache.abbrNation)">
                    <div class="table-cell2-wrapper">
                        <span class="table-amount">{{ data.amount }}</span>
                        <input class="table-input" type="number"
                               v-model="editingAmount"
                               @keyup.enter="doneEdit(data.cache.abbrNation)">
                        <span class="table-money-unit">{{ data.cache.moneyUnit }}</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</div>

<script src="js/app.bundle.js"></script>

</body>
</html>